## Deliverable 3. Create a Travel Itinerary Map.

In [90]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import weather_api_key, g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [91]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,80.89,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1,1,Rikitea,PF,77.47,overcast clouds,-23.1203,-134.9692,Pension Maro'i
2,5,Sao Joao Da Barra,BR,80.60,broken clouds,-21.6403,-41.0511,Pousada Porto De Canoas
3,11,Mahebourg,MU,80.60,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,13,Sinnamary,GF,80.17,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [92]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [93]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]==("Castro")]
vacation_end = vacation_df.loc[vacation_df["City"]==("Castro")]
vacation_stop1 = vacation_df.loc[vacation_df["City"]==("Rio Claro")]
vacation_stop2 = vacation_df.loc[vacation_df["City"]==("Guaruja")] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]==("Cananeia")]

In [95]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,132,Castro,BR,76.21,clear sky,-24.7911,-50.0119,CHACARA BAILLY

In [96]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,132,Castro,BR,76.21,clear sky,-24.7911,-50.0119,CHACARA BAILLY

In [97]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
185,483,Rio Claro,BR,87.01,scattered clouds,-22.4114,-47.5614,Hotel Vivendas Rio Claro by Atlantica

In [98]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
99,271,Guaruja,BR,82.0,broken clouds,-23.9931,-46.2564,Charme Hotel Guarujá

In [99]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,292,Cananeia,BR,80.33,scattered clouds,-25.0147,-47.9267,Casa azul

In [100]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-24.7911, -50.0119)
(-24.7911, -50.0119)
(-22.4114, -47.5614)
(-23.9931, -46.2564)
(-25.0147, -47.9267)

In [101]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Castro = (-24.7911, -50.0119)
Castro = (-24.7911, -50.0119)
Rio_Claro = (-22.4114, -47.5614)
Guaruja = (-23.9931, -46.2564)
Cananeia = (-25.0147, -47.9267)

fig = gmaps.figure()
Directions = gmaps.directions_layer(Castro, Castro , waypoints = [Rio_Claro, Guaruja, Cananeia], travel_mode='DRIVING')
fig.add_layer(Directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,132,Castro,BR,76.21,clear sky,-24.7911,-50.0119,CHACARA BAILLY
1,483,Rio Claro,BR,87.01,scattered clouds,-22.4114,-47.5614,Hotel Vivendas Rio Claro by Atlantica
2,271,Guaruja,BR,82.00,broken clouds,-23.9931,-46.2564,Charme Hotel Guarujá
3,292,Cananeia,BR,80.33,scattered clouds,-25.0147,-47.9267,Casa azul

In [103]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [104]:
# 11a. Add a marker layer for each city to the map.
marker_locations = [
    (-24.7911, -50.0119),
    (-22.4114, -47.5614),
    (-23.9931, -46.2564),
    (-25.0147, -47.9267)
]

fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))